/* Fichier CSS des Compte Rendu html // ver.2 // Hervé Nguyen TD-E // n°Etudiant : 236163 */
.centered {
    text-align: center;
}

.nom {
    text-align: right;
    color: rgba(245, 140, 131, 1);
}
.logo {
    display: inline-block;
    width: 200px;
}
.title {
    text-align: center;
}

.usada {
    width: 30%;
    float: right
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color:rgba(245, 140, 131, 1);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #AABBE0;
    clear: both;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #80ffe3;
    clear: both;
}
li {
    padding: 3px;
    color: rgb(0, 59, 126);
}
a:link {
    color: rgb(0, 204, 255);
}
a:visited {
    color: rgb(204, 0, 255);
}
a:hover {
    color: rgb(2, 68, 250);
}

.deconnexion
{
	float:right;
	background-color:red;
	color:white;
	width:150px;
	height:50px;
	border-radius:15px;
	margin-right:2%;
	margin-top:30px;
	transition:1s ease-in-out;
	font-family:'Montserra',sans-serif;
	font-weight:bolder;
}

.deconnexion:hover{
	cursor:pointer;
	background-color:#8fc866;

}
.deco{
    width:3.2%;
    margin-top:2.2%;
    margin-right:2%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  p
  {
   color :white;
   display:inline;
  }
  
  body{
      background-color:#111;
  }
  
  .un{
  float :right;

 
  margin-right: 10%;
 
  float : right;
  background-color : rgb(56, 36, 36);
  text-align : center;
  margin-right : 5%;
  font-size:1.3em;
  width:30%;
  padding:30px;
  opacity:0.8;
  box-shadow: 10px 10px 8px #444;
  margin-bottom:6em;


  }
  .deux{
    float :left;
    margin-bottom: 5%;
    

  background-color : rgb(56, 36, 36);
  text-align : center;
  margin-right : 5%;
  font-size:1.3em;
  width:30%;
  padding:30px;
  opacity:0.8;
  box-shadow: 10px 10px 8px #444;
  margin-bottom:6em;
  }
